// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

div.col-12.col-sm-auto.people-person img.avatar.avatar-circle {
  width: 120px !important;
  height: 120px !important;
}

div.row.justify-content-center.people-widget h2.mb-4 {
  font-size: 1.25rem !important;
  margin-bottom: 1.25rem !important;
}

div.carousel-item.active.fullscreen {
  width: 100vw;
  height: 100vh;
}

//body {
//  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
//}